.popular {
  text-align: center;
  margin-bottom: 200px;
  &__title {
    margin-bottom: 60px;
  }
  &__filters {
    margin-bottom: 45px;
  }
  &__filter {
    display: inline-block;
    position: relative;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:before {
      position: absolute;
      content: ""; 
      width: 44px;
      height: 44px;
      left: 30px;
      top: 17px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $darkBlue-900;
    }
  }
  &__filter--burgers::before {
    background-image: url("../../images/icons/burger.svg");
    height: 42px;
  }
  &__filter--sandwich::before {
    background-image: url("../../images/icons/sandwich.svg ");
  }
  &__filter--pizza::before {
    background-image: url("../../images/icons/pizza.svg");
  }
  &__filter--asia::before {
    background-image: url("../../images/icons/christmas-dinner.svg");
    height: 32px;
  }
  &__filter--sets::before {
    background-image: url("../../images/icons/dish.svg");
  }
  &__btn {
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    border-radius: 5px;
    padding: 22px 32px 22px 86px;
    transition: box-shadow 0.5s ease;
    &:focus {
      background-color: #fff;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }
    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }
    &:active {
      background-color: #fff;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
      border-radius: 5px;
    }
  }
  &__btn--active {
    background-color: $orange;
    color: #fff;
  }
  &__link {
    text-decoration-line: underline;
    color: $darkBlue-900;
    transition: box-shadow 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
    &:focus {
      background: rgba(255, 255, 255, 0.01);
      box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
      border-radius: 5px;
      text-decoration: none;
    }
    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      text-decoration: none;
    }
  }
}