.slider {
 // &__item {
 //  display: flex;
 //  justify-content: center;
 //  align-items: center;
 //  max-width: 1100px;
 //  // margin: 0 auto;
 // }
 &__author-image {
  border-radius: 50%;
  margin-right: 100px;
 }
 &__box {
  max-width: 570px;
  padding-top: 30px;
 }
 &__blockquote {
  font-style: italic;
  margin-bottom: 30px;
  position: relative;
  &::before,
  &::after {
   @include pseudo;
   width: 24px;
   height: 20px;
  }
  &::before {
   @include background (url("../images/quotes-left.jpg"));
   top: 0;
   left: -50px;
  }
  &::after {
   @include background (url("../images/quotes-right.jpg"));
   bottom: 0;
   right: 0;
  }
 }
 &__author-name {
  display: block;
  font-weight: 500;
  color: $orange;
  margin-bottom: 15px;
 }
 &__span {
  @include text(14px, 1.3, $darkBlue-900);
  font-weight: 600;
 }

 .slick-slide {
  display: flex;
  justify-content: center;
  width: 100%;
 }

 .slick-list {
  margin-bottom: 20px;
 }

 .slick-dots {
  font-size: 0;
  display: flex;
  justify-content: center;
  li {
   background-color: $orange;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   cursor: pointer;
   &:not(:last-child) {
    margin-right: 20px;
   }
  }
 }
}

.product__slider {
 .slick-list {
  max-width: 610px;
  height: 550px;
  box-shadow: 0px 0px 0px 1px #ececec;
  border-radius: 5px;
 }
 .slick-slide img {
  margin: 0 auto;
  padding-top: 70px;
 }
 .slick-arrow {
   width: 40px;
   height: 40px;
 }
}

@media (max-width: 992px) {
 .slider {
  &__box {
   max-width: 400px;
   width: 100%;
  }
  &__author-image {
   width: 200px;
   height: 200px;
  }
 }
 .slick-slide {
  align-items: center;
 }
}

@media (max-width: 768px) {
 .slider {
  &__author-image {
   margin: 0;
  }
  .slick-slide {
   flex-direction: column;
  }
 }
}


