.app {
 padding-bottom: 120px;
 &__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 &__box {
  max-width: 538px;
  margin-right: 20px;
 }
 &__title {
  text-align: left;
  margin-bottom: 45px;
 }
 &__text {
  margin-bottom: 30px;
 }
 &__links {
  display: flex;
 }
 &__link {
  &:not(:last-child) {
   margin-right: 30px;
  }
 }
}

@media (max-width: 992px) {
 .app {
  padding-bottom: 80px;
  &__inner {
   flex-direction: column;
  }
  &__box {
   margin-bottom: 25px;
  }
 }
}

@media (max-width: 768px) {
 .app {
  padding-bottom: 60px;
  &__title {
   margin-bottom: 20px;
  }
  &__text {
   font-size: 18px;
  }
 }
}

@media (max-width: 576px) {
 .app {
  padding-bottom: 30px;
 }
}